body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 216, 216);
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px 100px;
}

